@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

.head_ing{
    font-size: 45px;
}

.highlight{
    color:coral;
}
.common_div{
    width:40%;
    float:left;
    margin:10px 2%;
    padding:2%;
}

.common_div img{
    width:95%;
}

.top_banner{
    background-image: url("./img/top-banner.png");
}